<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/styles/global.css">
    <link rel="stylesheet" type="text/css" href="/styles/index.css">
    <title>Homepage</title>
    <link href="https://fonts.googleapis.com/css?family=Heebo:100,400,700" rel="stylesheet">
</head>
<body>
<header class="top">
    <div class="overlay">
        <div class="nav-bar">
            <table>
                <tr>
                    <td><span class="xxsmall hint">Lorem ipsum lorem ipsum?</span></td>
                    <td><span class="xxsmall strong">Lorem</span></td>
                    <td><span class="xxsmall">or</span></td>
                    <td><span class="xxsmall strong" href="google.com">Ipsum</span></td>
                </tr>
            </table>
        </div>

        <div class="center">
            <span class="large strong">LOREM</span>
            <div class="sub-title"><span class="md">Lorem ipsum dolorem ipsum lorem</span></div>
            <div class="btn-group main"><input type="text" placeholder="Lorem ipsum dolor">
                <button>Ipsum</button>
            </div>
            <div class="header"><span class="strong medium">Tags</span></div>
            <div class="tags-holder">
                <div>
                    <span>Lorem</span><span>Lor</span><span>Lorem</span><span>Lorem</span><span>Lorem</span><span>Lorem</span><span>Lorem</span><span>Lorem</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="contents">
    <div class="main-contents">
        <div class="tab-header"><span class="md">Discussions</span></div>
        <div class="tabs">
            <span class="xsmall selected">Trending</span><span class="xsmall">New</span>
        </div>
        <div class="item-discussion">
            <div class="upvote"><div><img src="/assets/arrow-up.svg" class="icon"></div><span class="small">20</span><div><img src="/assets/arrow-down.svg" class="icon"></div></div>
            <div class="item-main-details">
                <div class="item-top">
                    <a class="small strong">
                        Uber's Flying Taxi is weird
                    </a>
                </div>
                <div class="discussion-tags-holder">

                </div>
                <div class="item-details">
            <span class="xxsmall hint">
               discussion started by
            </span>
                    <a class="xxsmall" href="google.com">
                        Lemuel Castro
                    </a>
                    <span class="xxsmall hint">around 2 seconds ago</span>
                </div>
                <div class="item-more-details">
                    <div>
                        <span class="xxsmall strong">Tags</span>
                        <span class="xxsmall tags">technology</span>
                        <span class="xxsmall tags">travel</span>
                        <span class="xxsmall tags">startup</span>
                        <span class="xxsmall tags">2 more</span>
                    </div>
                    <div>
                <span class="xxsmall strong">
                   32 chats
                </span>
                        <span class="xxsmall strong">
                   5 participants
                </span>
                        <span class="xxsmall strong">
                   105 views
                </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>