body, html {
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow: scroll;
}

button {
    border: none;
    color: white;
}

input[type=text] {
    border: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    color: black;
    outline: none;
    font-family: 'Heebo', sans-serif;
}

.icon{
    height: 12px;
    width: 12px;
}

.hint {
    opacity: 0.6;
}

.btn-group {
    justify-content: center;
    align-items: center;
    display: flex;
    vertical-align: middle;
}

.btn-group.main {
    height: 56px;
}

div.btn-group input[type=text] {
    font-size: 16px;
    padding: 16px;
    width: 40%;
}

div.btn-group button {
    cursor: pointer;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 16px;
    padding: 0px 16px 0px 16px;
    height: 100%;
    min-height: 100%;
    background: darkslateblue;
}

.header {
    margin-top: 8px;
}

.tags-holder {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.tags-holder div {
    width: 50%;
    max-width: 70%;
    margin-top: 0px;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}

.tags-holder span {
    text-decoration: underline;
    padding: 2px;
    margin-left: 8px;
    margin-right: 8px;
}

table {
    border-spacing: 0px;
}

td:not(:last-child) {
    padding-right: 4px;
}

footer {
    max-height: 50px;
    height: 20px;
    padding: 16px;
}

label, span, a {
    text-underline-position: under;
    padding: 0px;
    color: white;
    font-family: 'Heebo', sans-serif;
}

a {
    color: darkslateblue;
}

.contents {
    margin: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*item main details*/
.item-main-details {
    width: 100%;
}

/*main-contents*/
.main-contents{
    width: 70%;
}

.main-contents span {
    color: black;
}

/*tab header*/
.tab-header {
    vertical-align: bottom;
    margin-bottom: 8px;
}

.tab-header span {
    cursor: pointer;
    color: darkslateblue;
    margin-right: 8px;
}

/*item more details*/
.item-more-details{
    min-width: 100%;
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.item-more-details div {
    display: inline-block;
}

.item-more-details div:first-child{
    margin-right: 32px;
}

.item-more-details span {
    margin-right: 4px;
}

/*item discussion*/
.item-discussion{
    align-items: center;
    display: flex;
    flex-direction: row;
}

.item-discussion div {
    margin-top: 4px;
    margin-bottom: 4px;
}

/*upvote*/
.upvote{
    text-align: center;
    margin-right: 16px;
}

/*tabs*/
.tabs {
    margin-left: 4px;
    margin-top: -8px;
    margin-bottom: 16px;
}

.tabs span {
    cursor: pointer;
    color: rgba(72,61,139,0.6);
    margin-right: 8px;
}

.sub-title {
    margin-top: -8px;
    margin-bottom: 8px;
}

.nav-bar {
    float: right;
    text-align: right;
    width: 100%;
    margin-bottom: 32px;
}

.nav-bar table {
    float: right;
}

.overlay {
    padding: 16px;
    height: calc(100% - 32px);
    background: rgba(0, 0, 0, 0.5);
}

.strong {
    font-weight: bold;
}

.light {
    font-weight: 100;
}

.hint {
    color: rgba(255, 255, 255, 0.5);
}

.large {
    font-size: 48px;
    color: white;
}

.large {
    font-size: 48px;
}

.md {
    font-size: 32px;
}

.small {
    font-size: 22px;
}

.xsmall {
    font-size: 16px;
}

.xxsmall {
    font-size: 14px;
}

.tags {
    font-weight: 100;
    color: rgba(0,0,0,1) !important;
}

.selected {
    color: darkslateblue !important;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    text-align: center;
}

@media screen and (max-width: 600px) {
    .main-contents{
        width: 95%;
    }

    .large {
        font-size: 46px;
    }

    .md {
        font-size: 28px;
    }

    .small {
        font-size: 18px;
    }

    .xsmall {
        font-size: 14px;
    }

    .xxsmall {
        font-size: 10px;
    }

    td:not(:last-child) {
        padding-right: 4px;
    }

    .btn-group.main {
        height: 56px;
    }

    div.btn-group input[type=text] {
        font-size: 16px;
        padding: 16px;
        width: 70%;
    }

    input[type=text] {
        margin: 0px;
        border: none;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
        color: black;
        outline: none;
        font-family: 'Heebo', sans-serif;
    }

    div.btn-group button {
        margin: 0px;
        cursor: pointer;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        font-size: 16px;
        padding: 0px 16px 0px 16px;
        height: 100%;
        min-height: 100%;
        background: darkslateblue;
    }

    .tags-holder div {
        width: 90%;
        max-width: 90%;
        margin-top: 0px;
        justify-content: center;
        flex-wrap: wrap;
        display: flex;
    }

    .item-discussion div {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}