#box-holder {
    width: 650px;
}

.top {
    /* The image used */
    background-image: url("../assets/bg.jpg");

    /* Full height */
    height: 400px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#parent-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100% - 104px);
}

@media screen and (max-width: 600px) {
    #box-holder {
        width: 90%;
    }
}